<!-- ====== Form Section Start -->
  <div class="border-b border-stroke py-4 px-6.5 dark:border-strokedark">
    <h2 class="font-medium text-black dark:text-white">Modifier un drone</h2>
  </div>
  <div class="p-6.5">
    <%= render "form", drone: @drone %>
  </div>
<!-- ====== Form Section End -->